{% extends "master.html" %}

{% block titulo %}
   Registrar
{% endblock %}

{% block contenido %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinturas</title>
</head>




    <main class="bg-warning">
        
        <section class="py-5 bg-warning">
            <div class="container bg-warning">
                    
                <h2 class="text-center text-primary mb-4 center-block  ">Subir pintura</h2>
                <form method="post" class="needs-validation center-block text-center" id="formPinturas"  enctype="multipart/form-data" >
                    <!--{% csrf_token %}-->
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>

                </form>
            </div>
        </section>        
    </main>

      
    </section>


    
    {% endblock %}