{% extends "master.html" %}

{% block titulo %}
    Todos los pintores
{% endblock %}
{% block contenido %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <header>
        <h1>{{pintor.firstname}} {{pintor.lastname}}</h1>
    </header>




    <main><!-- Detalles de cada pintura-->

        <p>Phone {{pintor.phone}}</p>
        <p>Fecha de inscipcion {{pintor.joined_date}}</p>
        <p>Volver a <a href="/pintores">Todas la pinturas</a></p>

      
    </main>

{% endblock %}