{% extends "master.html" %}

{% block titulo %}
    Coleccion de pinturas
{% endblock %}

{% block contenido %}
<h1 class="bg-secondary text-center center-block">Coleccion de pinturas Ground Zero</h1> 


<p>El valor del dolar es: {{dolar}}</p>

<div id="carouselExampleDark" class="carousel  carousel-dark slide mb-5 py-5 nav nav-xs-12 nav-md-6 nav-sm-6 w" data-bs-ride="carousel" width="20px " height="20px">
    <div class="carousel-inner" >
      {% for p in pinturas %}
        {% if p.estado == "aprobado" %}    
            <div class="carousel-item carousel-item-center {% if forloop.first %}active{% endif %}" >
              <a href="detallePintura/{{p.id}}"> <img src="{{ p.imagen.url }}" class="d-block w-50 mx-auto " alt="{{ p.nombre }}"></a>
              <div class="carousel-caption  d-md-6 d-sm-6 d-xs-12">
                <h5>{{ p.nombre }}</h5>
                <p>{{ p.descripcion }}</p>
              </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h3>Numero de pinturas subidas: {{pinturas.count}} 
  </h3>

 



  <div class="container my-5 ">
    <div class="row">
        {% for p in pinturas %}
          {% if p.estado == "aprobado" %}
            <div class="col-md-4 mb-4">
                <div class="card bg-secondary">
                   {% if p.imagen %}
                   <a href="detallePintura/{{p.id}}"><img src="{{ p.imagen.url }}" width="250px " height="250px" class="card-img-top" alt="{{ p.nombre }}"></a>
                    {%endif%}
                    <div class="card-body">
                        <h5 class="card-title">{{ p.nombre }}</h5>
                        <p class="card-text">{{ p.descripcion }}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{ p.precio }}</p>
                        <p class="card-text"><strong>Autor:</strong> {{ p.autor }}</p>
                        <p class="card-text"><strong>Técnica usada:</strong> {{ p.tecnicaUsada }}</p>
                        <p class="card-text"><strong>Fecha de subida:</strong> {{ p.fechaSubida }}</p>
                        <p class="card-text"><strong><a href="/detallePinturaCompra/{{p.id}}"><button class="btn btn-success">Comprar</button></strong></p></a>


                    </div>
                </div>
            </div>
          {% endif %}
        {% empty %}
            <p>No hay pinturas disponibles.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}