{% extends "master.html" %}

{% block titulo %}
    Pinturas
{% endblock %}
{% block contenido %}
<body>
 


    <main id="principal">

        <!--<img src="/media/img/nocheEstrellada.png" class="card-img-top" alt="lala">-->

        <!-- Contenedor principal para las pinturas -->
        <div class="container my-5">
            <div class="row">
                {% for p in pinturas %}
                    {% if p.estado == "aprobado" %}
                    <div class="col-md-4 mb-4">
                        <div class="card bg-secondary">
                           {% if p.imagen %}
                            <a href="detallePintura/{{p.id}}"> <img src="{{ p.imagen.url }}" width="250px " height="250px" class="card-img-top" alt="{{ p.nombre }}"></a>
                            {%endif%}
                            <div class="card-body">
                                <h5 class="card-title">{{ p.nombre }}</h5>
                                <p class="card-text">{{ p.descripcion }}</p>
                                <p class="card-text"><strong>Precio:</strong> ${{ p.precio }}</p>
                                <p class="card-text"><strong>Autor:</strong> {{ p.autor }}</p>
                                <p class="card-text"><strong>Técnica usada:</strong> {{ p.tecnicaUsada }}</p>
                                <p class="card-text"><strong>Fecha de subida:</strong> {{ p.fechaSubida }}</p>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% empty %}
                    <p>No hay pinturas disponibles.</p>
                {% endfor %}
            </div>
        </div>

    </main>


    

{% endblock %}