{% extends "master.html" %}

{% block titulo %}
   Registrar
{% endblock %}
{% block contenido %}



    <main>
            <h1>Formulario de registro</h1>
        <div class="container mb-3 py-3">
            <form action="" method="get">
                {{form.as_p}}
                <button type="submit">Crear Registro</button>
            </form>
        </div>
    </main>






    <footer class="bg-primary text-white text-center py-3">
        <p class="mb-0">&copy; Venta de Pinturas. Todos los derechos reservados.</p>
    </footer>
 
 
    
{% endblock %}